body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:379px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:795px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:-3px;
  width:375px;
  height:795px;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:552px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:158px;
  width:361px;
  height:551px;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:92px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:67px;
  width:361px;
  height:91px;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:36px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:91px;
  width:39px;
  height:36px;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:91px;
  width:242px;
  height:43px;
}
#u111_input {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:43px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:92px;
  width:26px;
  height:27px;
  font-size:28px;
  color:#999999;
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:161px;
  width:362px;
  height:496px;
  overflow:hidden;
}
#u113_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:496px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u113_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:11px;
  width:28px;
  height:28px;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:2px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:44px;
  width:316px;
  height:1px;
  color:#CCCCCC;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:18px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:17px;
  width:62px;
  height:17px;
  color:#666666;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:18px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:18px;
  width:167px;
  height:17px;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:51px;
  height:40px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:10px;
  width:40px;
  height:29px;
  font-size:12px;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:144px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:46px;
  width:277px;
  height:143px;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:55px;
  width:73px;
  height:17px;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:82px;
  width:73px;
  height:17px;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:109px;
  width:73px;
  height:17px;
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:136px;
  width:73px;
  height:17px;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:163px;
  width:73px;
  height:17px;
}
#u125_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
